<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <app-chat-message text="Write something and I convert it to audio..." />

      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <app-chat-message [text]="message.text" [audioUrl]="message.audioUrl" />
        } @else {
          <app-my-message [text]="message.text" />
        }
      }
      @if (isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>

  <app-text-message-box-select
    placeholder="What would you like to transform into audio?"
    (onMessage)="handleMessageWithSelect($event)"
    [options]="voices()"
  />
</div>
