<div class="chat-container">
  <div class="chat-messages">
    <div class="gap-y-2 grid">
      <app-chat-message text="Escribe algo para revisar la ortografía y gramática..." />

      @for (message of messages(); track $index) { 
        @if (message.isGpt) {
          <app-ia-message-orthography
            [userScore]="message.info!.userScore"
            [text]="message.text"
            [errors]="message.info!.errors!"
          />
        } @else {
          <app-my-message [text]="message.text" />
        }
      }

      <!-- Loading -->
      @if (isLoading()) { <app-typing-loader /> }
    </div>
  </div>

  <app-text-message-box
    placeholder="Texto a revisar y corregir..."
    (onMessage)="handleMessage($event)"
    [disableCorrections]="true"
  />
</div>
