@if (originalImage()) {
  <div class="flex fixed top-10 right-10 z-10 flex-col items-center fade-in">
    <span>Editing...</span>
    <img
      src="{{ originalImage() }}"
      alt="Original Image"
      class="object-contain w-36 h-36 rounded-xl border"
    />

    <button (click)="generateVariation()" class="mt-2 btn-primary">Generate</button>
  </div>
}

<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <app-chat-message text="What would you like to create?" />

      @for (message of messages(); track $index) {
        <!-- Is Gpt -->
        @if (message.isGpt) {
          <app-ai-message-editable-image
            (onSelectedImage)="handleSelectedImage($event, message.imageInfo!.url)"
            [text]="message.text"
            [imageInfo]="message.imageInfo!"
          />
        }
        <!-- Is My Message -->
        @else {
          <app-my-message [text]="message.text" />
        }
      }
      <!-- Is Loading -->
      @if (isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>

  <app-text-message-box
    placeholder="Create an image about something..."
    (onMessage)="handleMessage($event)"
  />
</div>
